@media screen and (max-width: 768px) {
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        opacity: 0;
        visibility: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .overlay.ativo {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    .sobre {
        width: 100%;
    }

    .canvas {
        width: 350px;
        height: 350px;
    }

    .botoes {
        display: block;
        position: relative;
        top: 15px;
        width: 352px;
        height: 168px;
    }

    .controle {
        display: block;
        text-align: center;
        text-decoration: underline;
        color: whitesmoke;
        position: relative;
    }
    
    #cima, #baixo, #esquerda, #direita {
        width: 65px;
        height: 65px;
        transition: all 0.3s ease;
        background-color: #1e1e2f;
        color: #9B59FF;
        border: 1px solid rgba(0, 184, 148, 0.5);
        box-shadow: 0 0 8px rgba(155, 89, 255, 0.4);
        border-radius: 8px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1rem;
        font-family: 'Courier New', monospace;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s, transform 0.2s;
        touch-action: manipulation;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -webkit-text-size-adjust: 100%;
    }

    #cima:hover, #baixo:hover, #esquerda:hover, #direita:hover {
        background-color: #292944;
        box-shadow: 0 0 12px rgba(155, 89, 255, 0.7);
        transform: scale(1.03);
    }

    #cima {
        position: relative;
        left: 142px;
        top: 23px;
    }

    #baixo {
        position: relative;
        top: 110px;
        left: 142px;
    }

    #esquerda {
        position: relative;
        top: -30px;
        left: 60px;
    }

    #direita {
        position: relative;
        top: -93px;
        left: 225px;
    }
}

@media screen and (max-width: 380px) {
    .botoes {
        position: relative;
        top: 0;
        display: block;
        width: 352px;
        height: 168px;
    }
    #cima {
        position: relative;
        left: 142px;
        top: 23px;
    }

    #baixo {
        position: relative;
        top: 35px;
        left: 142px;
    }

    #esquerda {
        position: relative;
        top: -30px;
        left: 60px;
    }

    #direita {
        position: relative;
        top: -93px;
        left: 225px;
    }
}
